<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件-->
<!--等于dao接口的实现，namespace属性值必须和接口的类路径一致-->
<mapper namespace="com.dao.UsersDao">
	
	<!--实现Dao方法的标签，用于编写sql语句。SQL语句中以#{}的形式引用参数
    <标签名 id="方法名" parameterType="入参类型" resultType="返回值类型">  	 
        sql语句
    </标签名>
	-->
    <select id="findByUsername" parameterType="String" resultType="Users">
        select * from users where username = #{username}
    </select>
</mapper>
